/* styles.css */

/* Estilos personalizados */
body {
    padding-top: 56px;
}

.navbar {
    margin-bottom: 20px;
}

.jumbotron {
    background-color: #f8f9fa;
    padding: 2rem 1rem;
    border-radius: 0.3rem;
}

h1 {
    color: #343a40;
}
